WebTemplate/Connected Services/PaymentService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaymentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/OnlineServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaymentService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="Request">
    <wsdl:part name="parameters" element="tns:Request" />
  </wsdl:message>
  <wsdl:message name="Request_Headers">
    <wsdl:part name="Key" element="tns:Key" />
  </wsdl:message>
  <wsdl:message name="Response">
    <wsdl:part name="parameters" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_PaySelectedBills_OutputMessage" />
  <wsdl:portType name="IPaymentService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/GetData" message="tns:IPaymentService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/GetDataResponse" message="tns:IPaymentService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/GetDataUsingDataContract" message="tns:IPaymentService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/GetDataUsingDataContractResponse" message="tns:IPaymentService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBillsByBusinessID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/GetBillsByBusinessID" name="Request" message="tns:Request" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/GetBillsByBusinessIDResponse" name="Response" message="tns:Response" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectedBillsTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/GetSelectedBillsTotal" name="Request" message="tns:Request" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/GetSelectedBillsTotalResponse" name="Response" message="tns:Response" />
    </wsdl:operation>
    <wsdl:operation name="PaySelectedBills">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/PaySelectedBills" name="Request" message="tns:Request" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/PaySelectedBillsResponse" message="tns:IPaymentService_PaySelectedBills_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaymentService" type="tns:IPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillsByBusinessID">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/GetBillsByBusinessID" style="document" />
      <wsdl:input name="Request">
        <soap:header message="tns:Request_Headers" part="Key" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Response">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectedBillsTotal">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/GetSelectedBillsTotal" style="document" />
      <wsdl:input name="Request">
        <soap:header message="tns:Request_Headers" part="Key" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Response">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaySelectedBills">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/PaySelectedBills" style="document" />
      <wsdl:input name="Request">
        <soap:header message="tns:Request_Headers" part="Key" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentService">
    <wsdl:port name="BasicHttpBinding_IPaymentService" binding="tns:BasicHttpBinding_IPaymentService">
      <soap:address location="http://localhost:8734/eLGU_CTO/OnlineServiceLibrary/PaymentService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>